/* Main */
.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.main-content {
    position: relative;
    max-width: 900px;
    padding: 20px;
}

.desc {
    color: #bbbbbb;
    font-size: 1.3rem;
    max-width: 700px;
    margin: 0 auto 30px auto;
}

.main-content .desc {
    margin-top: 20px;
}

.main-content a,
.ready-content a {
    font-size: 1.05rem;
}

.highlight {
    color: #FFD700;
    display: block;
}


/* Spinning text */
@layer demo {
    .words,
    .word,
    .char,
    .char::before,
    .char::after {
        transform-style: preserve-3d;
        display: inline-block;
    }
    .splitting {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 20px;
        transition: transform 0.5s;
    }

    .splitting p {
        transition: opacity 0.5s;
    }

    /* Each line of text */
    p:nth-of-type(1) {
        --idx: 0;
    }
    p:nth-of-type(1) .char::before,
    p:nth-of-type(1) .char::after {
        color: white !important;
    }

    p:nth-of-type(2) {
        --idx: 1;
    }
    p:nth-of-type(2) .char::before,
    p:nth-of-type(2) .char::after {
        color: #FFD700 !important;
    }

    .splitting p {
        font-size: 3rem;
        display: block;
        margin: 0;
        font-weight: 700;
        text-decoration: none;
        width: fit-content;
        line-height: 1.2;
        vertical-align: baseline;
    }

    .splitting p .char {
        --duration: 2.2s;
        --delay: calc(
        (
            sin((var(--char-index) / var(--char-total)) * 90deg) *
                (var(--duration) * 0.25)
            ) - (var(--idx) * -0.25s)
        );
        display: inline-block;
        animation: flip var(--duration) var(--delay) infinite ease;
    }

    @keyframes flip {
        25%,
        100% {
        transform: rotateX(90deg);
        }
    }

    .splitting .char {
        color: transparent;
        position: relative;
        height: 0.9lh;
        line-height: 1;
        vertical-align: middle;

        &::after,
        &::before {
            color: canvasText;
            content: attr(data-char);
            position: absolute;
            top: 50%;
            left: 50%;
            height: 1lh;
            width: 100%;
            animation: fade var(--duration) var(--delay) infinite ease;
        }

        &::before {
            transform-origin: 50% 50%;
            translate: -50% -50%;
            transform: rotateX(-90deg) translate3d(0, 0, 0.45lh);
            opacity: 0;
            --opacity: 1;
        }

        &::after {
            translate: -50% -50%;
            transform: translate3d(0, 0, 0.45lh);
        }
    }

    @keyframes fade {
        30%,
        100% {
            opacity: var(--opacity, 0);
        }
    }
}


/* Features */
.features {
    position: relative;
    width: 100%;
    height: auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.features-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.features-content p {
    margin: 0 auto 50px auto;
    text-align: center;
    margin-bottom: 50px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto 50px auto;
    text-align: center;
    margin-bottom: 30px;
}

.grid-item {
    background: rgba(255, 255, 255, 0.5);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}
.grid-item:hover {
    background: rgba(255, 255, 255, 0.8);
    transform: translateY(-5px);
}

.grid-item h3 {
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
}

.grid-item p {
    color: #333;
    font-size: 1.05rem;
    text-align: left;
}

.feature-top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    background: #FFD700;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}
.icon i {
    font-size: 20px;
    color: #1a1500;
}


/* Why choose */
.choose {
    width: 100%;
    padding: 60px 0px;
    text-align: left;
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
}
.choose h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.choose p {
    color: #333;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.choose-content {
    max-width: 800px;
    margin: 0 auto;
}

.choose-list {
    list-style: none;
    padding: 0;
}
.choose-list li {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 12px;
    color: #1d1d1d;
}
.choose-list i {
    color: #00c853;
    margin-right: 10px;
}


/* Ready */
.ready {
    width: 100%;
    padding: 40px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4B5320;
    color: white;
}

.ready h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}